<nav class="bottom-nav flex items-center" aria-label="Bottom navigation">
    <a class="promotion-link" href="/promotion.html">
        <span class="bottom-nav-icon" aria-hidden="true">
            <img class="bottom-nav-icon-default" src="/assets/figma-export/neking/promotion.png" alt="">
            <img class="bottom-nav-icon-active" src="/assets/figma-export/neking/promotion-color.png" alt="">
        </span>
        Promotion
    </a>
    <a class="affiliate-link" href="/affiliate.html">
        <span class="bottom-nav-icon" aria-hidden="true">
            <img class="bottom-nav-icon-default" src="/assets/figma-export/neking/affiliate.png" alt="">
            <img class="bottom-nav-icon-active" src="/assets/figma-export/neking/affiliate-color.png" alt="">
        </span>
        Affiliate
    </a>
    <a class="home-link" href="/index.html"><img src="/assets/figma-export/neking/bottom-x-icon.png" alt="">Home</a>
    <a class="deposit-link" href="#">
        <span class="bottom-nav-icon" aria-hidden="true">
            <img class="bottom-nav-icon-default" src="/assets/figma-export/neking/deposit.png" alt="">
            <img class="bottom-nav-icon-active" src="/assets/figma-export/neking/deposit-color.png" alt="">
        </span>
        Deposit
    </a>
    <a class="chat-link" href="#">
        <span class="bottom-nav-icon" aria-hidden="true">
            <img class="bottom-nav-icon-default" src="/assets/figma-export/neking/chat.png" alt="">
            <img class="bottom-nav-icon-active" src="/assets/figma-export/neking/chat-color.png" alt="">
        </span>
        Chat
    </a>
</nav>
